<% if @post.errors.any? %>
  <div>
    <h3><%= pluralize(@post.errors.count, "error") %> prevented this post from being saved:</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, rows: 8 %>
  </div>

  <div>
    <%= form.label :tag_names, "Tags (comma-separated)" %><br>
    <%= form.text_field :tag_names, value: @post.tags.map(&:name).join(", ") %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>